<ion-view view-title="Booking" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>RS-TRANSPORT</h1>
            </div>
        </div>
        <div class="list">

            <ion-md-input ng-model="travelDetails.depart" placeholder="Departure" highlight-color="energized" type="text"></ion-md-input>
            <ion-md-input ng-model="travelDetails.travel" placeholder="Destination" highlight-color="energized" type="text"></ion-md-input>

            <ion-md-input ng-model="travelDetails.message" placeholder="Please specify the reason for booking..'" highlight-color="energized" type="text"></ion-md-input>

        </div>
        <div class="padding">
            <button ng-click="fetch()" class="button button-full button-assertive ink">Book</button>
        </div>
        <div class="button-bar social-login">
            <!--<button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>-->
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 5 1 auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 5 1 auto;
    align-self: auto;
    }

</style>
