<ion-view view-title="Booking" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat" style="height: 210px">
            <div class="content">
                <div class="app-icon"></div>
                <h1>RS-TRANSPORT</h1>
            </div>
        </div>
        <div class="list">

            <div>
                <h1><a class="item item-icon-left" > <i class="icon ion-clock"></i> Booking start time </a></h1>
            </div>

            <div class="flex-container">
                <div class="flex-item padding">
                    <ionic-datepicker idate="day.start" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" title="day.title1">
                        <button ng-click="nativeDate()" class="button button-block button-positive"> {{ day.start | date:'MMMM - dd - yyyy' }} </button>
                    </ionic-datepicker>
                </div>

                <div class="flex-item padding">
                    <ionic-timepicker etime="slots.epochTime1" format="slots.format" step="slots.step" callback="timePickerCallback">    
                        <button ng-click="nativeTime()"  class="button flex-item button-block button-positive"><standard-time-meridian etime='slots.epochTime1'></standard-time-meridian> </button>
                    </ionic-timepicker>
                </div>
            </div>

            <div>
                <h1><a class="item item-icon-left" > <i class="icon ion-clock"></i> Booking end time </a></h1>
            </div>

            <div class="flex-container">
                <div class="flex-item padding">
                    <ionic-datepicker idate="day.end" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" title="day.title2">
                        <button ng-click="nativeDate()" class="button button-block button-positive"> {{ day.end | date:'MMMM - dd - yyyy' }} </button>
                    </ionic-datepicker>
                </div>

                <div class="flex-item padding">
                    <ionic-timepicker etime="slots.epochTime2" format="slots.format" step="slots.step" callback="timePickerCallback2">    
                        <button ng-click="nativeTime()" class="button flex-item button-block button-positive"> <standard-time-meridian etime='slots.epochTime2'></standard-time-meridian> </button>
                    </ionic-timepicker>
                </div>
            </div>

        </div>
        <div class="padding">
            <button ng-click="fetch()" class="button button-full button-assertive ink">Next</button>
        </div>
        <div class="button-bar social-login">
            <!--<button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>-->
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 5 1 auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 5 1 auto;
    align-self: auto;
    }

</style>
