<ion-view view-title="Transport Booking Complete" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat" style="height: 100px">
            <div class="content">
                <h1>RCSTransport-Beta</h1>
            </div>
        </div>

<div class="list"> 
    <a class="item item-thumbnail-left"> 
        <img src="img/material4.jpg"> 
        <h1>Success</h1> 
        <p style='color:white;'>Please check your email for more details</p>
    </a> 
    <br>
    <br>
    
   <a class="card stable-bg ink ink-dark"> 
           <div style="padding-left: 50px;">
            <h3 style=''>Driver Email</h3> 
            <p style=''>{{travelDetails.driver}}</p> 
        </div>
    </a> 
    
    <a class="card stable-bg ink ink-dark">
        <div style="padding-left: 50px;">
            <h3 style=''>Location</h3> 
            <p style='' >{{travelDetails.location}}</p> 
        </div>
    </a>

    <a class="card stable-bg ink ink-dark"> 
        <div style="padding-left: 50px;">
            <h3 style=''>Date</h3> 
            <p style='' >{{travelDetails.date}}</p> 
        </div>
    </a>


</div>

        <div class="padding">
            <button ui-sref="app.booking" class="button button-full button-assertive ink">Done</button>
        </div>
    </ion-content>
</ion-view>
