<ion-view view-title="Transport Booking Complete" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>RSCTransport-Beta</h1>
            </div>
        </div>

<div class="list"> 
   <!-- <a class="item item-thumbnail-left"> 
        <img src="img/ionic.png"> 
        <h2>Driver Email</h2> 
        <p>{{travelDetails.driver}}</p> 
    </a> 
    <a class="item item-thumbnail-left"> 
        <img src="img/google-material.png"> 
        <h2>Location</h2> 
        <p>{{travelDetails.location}}</p> 
    </a> -->

    <a class="item item-thumbnail-left"> 
        <img src="img/material4.jpg"> 
        <h1>Success</h1> 
        <p style='color:white;'>Please check your email for details</p>
    </a> 
</div>

        <div class="padding">
            <button ui-sref="app.login" class="button button-full button-assertive ink">Done</button>
        </div>
    </ion-content>
</ion-view>
